<header>
  <div class="logo">
    <a href="#">
      <img src="assets/Hubio.png" alt="Hubio">
    </a>
  </div>
</header>
<div class="wrapper">
  <div class="side">
    <div>
      <img src="assets/homeSafe.jpg" style="border-radius: 10%;">
    </div>
  </div>
  <div class="side">
    <div class="center-container">
      <button (click)="onButtonClick()">Evaluate</button>
      <input type="text" [(ngModel)]="inputValue" placeholder="Enter your image url">
    </div>
  </div>
  <div class="side">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at purus bibendum,
       scelerisque enim eu, lacinia elit. Vivamus molestie nulla vel mauris pretium malesuada.
        Vestibulum lobortis justo non purus vulputate, id luctus ipsum aliquam. Phasellus 
        interdum enim in ligula malesuada blandit. Sed sodales nunc vel tellus venenatis faucibus.
         Ut sollicitudin dolor ut mauris auctor, eget elementum felis vestibulum. Proin vel urna
          eget lacus dictum lacinia. Sed gravida mauris sed magna hendrerit pharetra. Nunc ac 
          enim at velit bibendum convallis sed non magna. Mauris nec justo lectus.</p>
  </div>
</div>


<div class="content">
  <ul class="list">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
  </ul>
</div>

